<!-- book.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Bookings</title>
</head>
<body class="d-flex flex-column h-100">

<!-- Page content -->
<section layout:fragment="body" class="py-5">
    <div class="container">
        <div class="text-center mt-5">
            <h2>Create Booking</h2>
            <div th:if="${#strings.equals(session.userRole, 'admin')}">

                <form role="form" method="post" th:action="@{/book/save}" th:object="${booking}">
                    <!-- Select which student the booking is for -->
                    <div class="form-group col-md-4">
                        <label for="studentSelect">Student</label>
                        <select id="studentSelect" class="form-control" th:field="*{studentId}">
                            <option th:each="student : ${students}"
                                    th:value="${student.userId}"
                                    th:text="${student.username}">
                            </option>
                        </select>
                    </div>
                    <!-- Show free time slots and select which slots the booking is for -->
                    <div class="form-group col-md-4">
                        <div th:if="${booking.timeSlots.size() != null}">
                        <label for="timeSelect">Select an available time</label>
                        <select id="timeSelect" class="form-control" th:field="*{selectedTime}">
                            <option th:each="timeSlot : ${booking.timeSlots}"
                                    th:value="${timeSlot}"
                                    th:text="${#temporals.format(timeSlot, 'yyyy-MM-dd HH:mm')}">
                            </option>
                        </select>
                        </div>
                    </div>
                </form>

            </div>

            <div th:if="${#strings.equals(session.userRole, 'student')}">
                student
            </div>

<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>ID</th>-->
<!--                    <th>Description</th>-->
<!--                    <th>Location</th>-->
<!--                    <th>Start Time</th>-->
<!--                    &lt;!&ndash; Add more columns as needed &ndash;&gt;-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="booking : ${userBookings}">-->
<!--                    <td th:text="${booking.id}"></td>-->
<!--                    <td th:text="${booking.description}"></td>-->
<!--                    <td th:text="${booking.location}"></td>-->
<!--                    <td th:text="${#temporals.format(list.start, 'yyyy-MM-dd HH:mm')}"></td>-->

<!--                    &lt;!&ndash; Add more columns as needed &ndash;&gt;-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
        </div>
    </div>
</section>

</body>
</html>
