<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Set Course Access</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <div class="container mt-2">
            <div >
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Course Access</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${user.courses != null and not #lists.isEmpty(user.courses)}">
                        <td th:text="${user.username}"></td>
                        <td>
                        <span th:each="course : ${user.courses}">
                        <span th:text="${course.title}"></span><br/>
                        </span>
                        </td>
                        <!-- Additional cells for courses if needed -->
                    </tr>
                    <tr th:if="${user.courses == null or #lists.isEmpty(user.courses)}">
                        <td th:text="${user.username}"></td>
                        <td>No course access set</td>
                        <!-- Additional cells for courses if needed -->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Set new course access</h3>
                <form th:action="@{/course-access/save}" th:object="${selectedCourseForm}" method="post">
                    <div th:each="course : ${courses}">
                        <!-- Add a hidden input for studentId -->
                        <input type="hidden" th:field="*{studentId}" th:value="${user.userId}"/>

                        <label th:for="${'course_' + course.courseId}">
                            <input type="checkbox"
                                   th:id="${'course_' + course.courseId}"

                                   th:field="*{selectedCourses}"
                                   th:value="${course.courseId}"/>
                            <span th:text="${course.title}"></span>
                        </label>
                        <br/>
                    </div>
                    <p th:if="${#fields.hasErrors('selectedCourses')}" class="text-danger"
                       th:errors="*{selectedCourses}"></p>
                    <button type="submit" class="btn btn-primary my-1">Submit</button>
                </form>
            </div>
            <a class="btn btn-secondary"
               th:href=@{/manage-students}>Back</a>
        </div>
    </section>
</main>
</body>
</html>