<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title th:text="'Home - ' + ${#authentication.authorities}"></title>
</head>
<body class="d-flex flex-column h-100">

<!-- Page content-->
<section layout:fragment="body" class="py-5">
    <div class="container">
        <div class="text-center mt-5">
            <h1 th:text="'Welcome ' + ${#authentication.principal.username} + '!'"></h1>
            <p class="lead">This will be the admin home page</p>
        <!-- Conditionally render the register new user button based on what role is saved in userRole-->
            <div th:if="${#strings.equals(session.userRole, 'admin')}">
                <a class="nav-link btn btn-primary my-1" th:href="@{/register}">Add new Admin/Student</a>
                <a class="nav-link btn btn-primary my-1" th:href="@{/create-course}">See courses/Create new course</a>
                <a class="nav-link btn btn-primary my-1" th:href="@{/create-list}">Create new list for reservations</a>

            </div>
            <a class="nav-link btn btn-primary my-1" th:href="@{/reservation-list}">See reservation lists</a>
        </div>
    </div>
</section>

</body>
</html>