<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Manage Students</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <div class="mt-1">
            <h4 th:text="${user.username + 's bookings'}"></h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Booked by</th>
                    <th>Partner</th>
                    <th>Course name</th>
                    <th>Description</th>
                    <th>Start time</th>
                    <th></th> <!-- Empty column for alignment -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${reservations}">
                    <td th:text="${reservation.user.username}"></td>
                    <td th:if="${reservation.coopId != null}" th:text="${reservation.coopId.username}"></td>
                    <td th:if="${reservation.coopId == null}">No partner</td>
                    <td th:text="${reservation.list.course.title}"></td>
                    <td th:text="${reservation.list.description}"></td>
                    <td th:text="${#temporals.format(reservation.sequence, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:if="${reservation.user.id == user.userId}" class="text-end">
                        <a class="btn btn-danger"
                           th:href="@{/manage-bookings/{reservationId}/delete/{studentId}(studentId=${reservation.user.id}, reservationId=${reservation.id})}"
                           onclick="return confirm('Are you sure you want to delete this booking?')">
                            Delete
                        </a>
                    </td>
                    <td th:if="${reservation.user.id != user.userId}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
</body>
</html>