<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Manage Students</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body">
        <div class="mt-1">
            <h4>Students</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th></th> <!-- Empty column for alignment -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.userId}"></td>
                    <td th:text="${student.username}"></td>
                    <td class="text-end">
                        <a class="btn btn-secondary"
                           th:href="@{manage-students/{studentId}/setCourseAccess(studentId=${student.userId})}">
                            See/Set course access</a>
                    </td>
                    <td class="text-end">
                        <a class="btn btn-secondary"
                           th:href="@{manage-students/{studentId}/manage-bookings(studentId=${student.userId})}">
                            Manage bookings</a>
                    </td>
                    <td class="text-end">
                        <a class="btn btn-danger"
                           th:href="@{/manage-students/{studentId}/delete(studentId=${student.userId})}"
                           onclick="return confirm('Are you sure you want to delete this student?')">
                            Delete Student
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-secondary"
               th:href="@{/register}">
                Add new student</a>
        </div>
    </section>
</main>
</body>
</html>