<!-- reservation-list.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Reservation List</title>
</head>
<section layout:fragment="body">

    <div class="main">
        <div class="col-md-12">
            <h2>Reservation List</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Start Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list : ${reservationLists}">

                    <td th:text="${list.id}"></td>
                    <td th:text="${list.description}"></td>
                    <td th:text="${list.location}"></td>
                    <td th:text="${#temporals.format(list.start, 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <a th:href="@{/remove-booking/{bookingId}(bookingId=${list.id})}"
                           onclick="return confirm('Are you sure you want to delete this booking?')">Delete</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

</section>
</html>
